
body {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(3, 33.333333%);
  justify-content: start;
  font-family: 'Julius Sans One', sans-serif;
}

section {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1/2;
  background-color: #DCCDBA;
  padding: 15px;
}

.button-1 {
  border-radius: 2px;
  border-color: black;
  margin: 10;
}

.button-2 {
  border-radius: 2px;
  border-color: black;
  margin: 10;
}

main {
  grid-column: 4/6;
  grid-row: 1/4;
  background-image: url(/users/jamisonordway/desktop/sunset.jpg);
  background-size: cover;
}

.box-one {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: #42514E;
  padding: 6px;
  text-align: center;
}

.box-two {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #E9A193;
  padding: 6px;
  text-align: center;
}

.box-three {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #465359;
  padding: 6px;
  text-align: center;
}

.box-four {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: #EAB09C;
  padding: 6px;
  text-align: center;
}

.box-five {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: #748A98;
  padding: 6px;
  text-align: center;
}

.box-six {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: #FFE0B2;
  padding: 6px;
  text-align: center;
}

.box-seven {
  grid-column: 3/4;
  grid-row: 3/4;
  background-color: #8295A4;
  padding: 6px;
  text-align: center;
}
